<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Operações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h4 class="text-sm -mb-2">Operadorª: {{ logado }} </h4>
        <h2>🎯 Menu de Operações</h2>
        <a href="{{ url_for('nova_venda') }}" class="menu-item menu-item-venda">⭐ Nova Venda</a>
        <a href="{{ url_for('consulta_status_eventos', mode='simple') }}" class="menu-item">🗓️ Consulta de Eventos</a>
        <a href="{{ url_for('consulta_vendas') }}" class="menu-item">
             <span class="emoji">📊</span>
             <span class="menu-text">Consultar Vendas</span>
        </a>
        <a href="#" class="menu-item">🏆 Consulta de Resultados</a>
        <a href="{{ url_for('cadastro_cliente', view='novo', next='menu_operacoes') }}" class="menu-item">👥 Cadastro de Clientes</a>
        
        {% if nivel >= 3 %} 
            <hr>
            <a href="{{ url_for('cadastro_evento', view='listar') }}" class="menu-item gerencial-item">🗓️ Cadastro de Eventos</a>
            <a href="{{ url_for('consulta_status_eventos', mode='detailed') }}" class="menu-item gerencial-item">💰 Status de Vendas dos Eventos</a>
            <a href="{{ url_for('cadastro_colaborador', view='listar') }}" class="menu-item gerencial-item">🛠️ Cadastro de Colaboradores</a>
        {% endif %}
        
        <a href="{{ url_for('login_page') }}" class="menu-item menu-item-exit">🚪 Sair</a>
    </div>
</body>
</html>